{% extends "base.html" %}
{% load static %}
{% block css_file  %}
    <link rel="stylesheet" href="{%static "challenges/style.css"%}">
    <link rel="stylesheet" href="{%static "challenges/includes/header.css" %}">
{% endblock %}
    {% block pagetitle%}
    All Months challenge
    {%endblock%}

    {% block content%}
    <h1>Challenges</h1>
    <ul>
        {% for month in months %}
        <li>
            <h2><a href="{% url 'month_name' month %}">{{ month|title }}</a></h2>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
